:root {
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --purple: rgb(175, 0, 255);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template: auto auto 30vh / 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 3vw;
    border-bottom: 3px solid var(--purple);
}

nav > a {
    font-family: var(--font);
    font-size: 18pt;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: auto 0;
    transition: color 0.2s;
}

nav > a:hover {
    color: var(--purple);
}

#currentComponent {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

h1, h2, p, label {
    font-family: var(--font);
    margin: 10px;
}

h1 {
    font-size: 40pt;
    margin: 0 auto;
    justify-self: center;
}

h2 {
    font-size: 25pt;
}

p, label {
    font-size: 14pt;
}

a {
    font-family: var(--font);
    text-decoration: none;
    color: var(--purple);
    transition: color 0.2s;
}

a:hover {
    color: black;
}

form {
    margin: 15px;
    border: 3px solid var(--purple);
    border-radius: 10px;
    padding: 10px;
}

form > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

form > div > input {
    min-width: 170px;
}

input {
    font-family: var(--font);
    font-size: 14pt;
    padding: 10px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    width: 30%;
    transition: border 0.2s;
}

input:focus {
    border: 2px solid var(--purple);
}

button {
    color: var(--purple);
    background-color: rgb(220, 220, 220);
    font-family: var(--font);
    font-size: 14pt;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    transition: color 0.25s;
    transition: background-color 0.25s;
}

button:hover {
    color: white;
    background-color: var(--purple);
    cursor: pointer;
}

select {
    color: var(--purple);
    background-color: rgb(220, 220, 220);
    font-family: var(--font);
    font-size: 14pt;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;

}

#userSearchDiv {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 10px 0;
    gap: 10px;
}

#userSearchDiv > button, #userPages > button {
    width: auto;
}

#userSearch {
    width: 33%;
}

#userPages {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.user {
    display: flex;
    flex-flow: row wrap;
}

.user > button {
    width: auto;
}

footer {
    background-color: var(--purple);
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

footer > a {
    color: white;
    font-size: 16pt;
}